@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body{
     font-size: 15px;
}

header{
    display: flex;
    color: hsl(300, 43%, 22%);
    padding: 100px 140px 20px;
}
.content{
    width: 50%;
}
h1{
    width: 70%;
    font-size: 48px;
    line-height: 50px;
}
.content p{
    width: 75%;
    line-height: 24px;
    margin-top: 15px;
    opacity: 0.9;
}
.rating{
    display: flex;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    padding: 20px 20px 20px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    font-size: 12px;
}
.rating-2{
    margin-left: 50px;
    
}
.rating-3{
    margin-left: 100px;
}
.stars{
    margin-right: 40px;
}
.stars img{
    margin-right: 5px;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 140px;
}
.card{
    background-color: hsl(300, 43%, 22%);
    color: #fff;
    padding: 40px 30px;
    width: 385px;
    line-height: 24px;
    border-radius: 10px;
    font-size: 14px;
}
.about{
    display: flex;

    align-items: center;
    margin-bottom: 30px;
}
.about img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.tag{
    color: hsl(333, 80%, 67%);
}
.card p{
    opacity: 0.8;
}
.name{
    opacity: 1 !important;
}
.card-2{
    margin-top: 40px;
}
.card-3{
    margin-top: 80px;
}
@media (max-width: 1024px){
    header{
        flex-direction: column;
    }
    .content,
    .content p{
        width: 100%;
        text-align: center;
    }
    h1{
        width: 100%;
        
    }
    .rating{
        flex-direction: column;
    }
    .rating-2,
    .rating-3{
        margin-left: 0px;
    }
    .stars{
        margin-right: 0px;
        margin-bottom: 8px;
    }
    main{
        flex-direction: column;
    }
    .card{
        width: 100%;
        
    } 
    .card-3{
        margin-top: 50px;
    }
}
@media (max-width: 552px){
    header,
    main{
        padding: 60px 30px;
    }
    main{
        margin-top: -80px;
    }
    .card{
        margin-top: 20px;
    }
   
    h1{
        font-size: 32px;
    }
}
